.yugioh_card {
    max-width: 150px;
    min-height: 215px;
    max-height: 215px;
}

.title {
    padding: 5px 0;
    color: #222;
    font-size: 25px;
    font-weight: 600;
    width: 150px;
}

.sidebar{
     padding-left: 0;
}

@media only screen and (max-device-width: 480px) {
    .yugioh_card {
        min-width: 345px;
        min-height: 495px;
        max-width: 345px;
        max-height: 495px;
    }

    .title {
        width: inherit;
        font-size: 70px;
    }

    .sidebar legend, .sidebar h4 {
        font-size: 50px !important;
    }

    .checkbox label, input {
        font-size: 35px !important;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2) !important; /* IE */
        -moz-transform: scale(2) !important; /* FF */
        -webkit-transform: scale(2) !important; /* Safari and Chrome */
        -o-transform: scale(2) !important; /* Opera */
        margin: 20px;
        margin-left: -25px !important;
    }

}

body {
    font-family: "Open Sans", sans-serif;
}

.card {
    margin-bottom: 20px;
    padding-right: 5px;
}

.search-icon {
    position: relative;
    margin-top: -25px;
    display: inline-block;
    width: 28px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    background-color: transparent;
    font-size: 20px;
    color: #222;
    float: right;
}
