body {
    font-family: "Open Sans", sans-serif;
}

.checkbox {
    margin-top: 0;
}

.devicon-github-plain {
    font-size: 1.5em;
}

hr {
    border-top: 1px solid #777;
}

.icon {
    max-height: 25px;
    max-width: 25px;
}

.icon_level {
    max-height: 17px;
    max-width: 17px;
}

.modal-header > h3 {
    text-align: center;
}

.page-links-active {
    font-weight: 600;
    text-decoration: underline;
}

.pagination, .pagination_cards {
    margin-left: 15px;
}

.pagination_cards, .page-links-container {
    display: inline-block;
}

.page-links-container a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.page-links-container a.page-links-active {
    background-color: #009cdd;
    color: white;
}

.page-links-container a:hover:not(.active) {
    background-color: #ddd;
}

.search-icon {
    position: relative;
    margin-top: -25px;
    display: inline-block;
    width: 28px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    background-color: transparent;
    font-size: 20px;
    color: #222;
    float: right;
}

.semibold {
    font-weight: 600;
}

.title {
    color: #222;
    font-size: 25px;
    font-weight: 600;
}

.title > a, .github, .github:hover, .github:focus {
    text-decoration: none;
}

.well {
    padding: 10px !important;
}

.well_legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
}

.yugioh_card {
    width: 177px;
    height: 260px;
    object-fit: cover;
    margin-bottom: 10px;
}

@media only screen and (max-device-width: 480px) {

    body {
        font-size: 33px;
    }

    .btn, .modal-header > h3 {
        font-size: 30px;
    }

    .checkbox, .radio {
        left: 25px;
    }

    .checkbox label, input, .page-links-container, .label_card_pages {
        font-size: 35px !important;
    }

    .form-control {
        height: 70px;
    }

    .icon {
        max-width: 100%;
        max-height: 100%;
    }

    input[type=checkbox], input[type=radio] {
        margin-left: -25px !important;
        -ms-transform: scale(4) !important; /* IE */
        -moz-transform: scale(4) !important; /* FF */
        -webkit-transform: scale(4) !important; /* Safari and Chrome */
        -o-transform: scale(4) !important; /* Opera */
        bottom: 10px;
        position: relative !important;
        margin-right: 25px;
    }

    .page-links-active, .page-links-inactive {
        font-size: 50px;
    }

    select {
        /* Double-sized select */
        -ms-transform: scale(2) !important; /* IE */
        -moz-transform: scale(2) !important; /* FF */
        -webkit-transform: scale(2) !important; /* Safari and Chrome */
        -o-transform: scale(2) !important; /* Opera */
        margin: 20px;
    }

    .search-icon {
        position: relative;
        margin-top: -40px;
        display: inline-block;
        line-height: 14px;
        vertical-align: middle;
        background-color: transparent;
        font-size: 55px;
        color: #222;
        float: right;
        left: -30px;
    }

    select {
        margin-left: 80px;
        font-size: 17px;
    }

    .sidebar legend, .sidebar h4, .sidebar label {
        font-size: 50px !important;
    }

    .title {
        width: inherit;
        font-size: 70px;
    }

    .yugioh_card {
        min-width: 345px;
        min-height: 495px;
        max-width: 345px;
        max-height: 495px;
    }

}








