<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yu-Gi-Oh_Sky.js</title>
    <!--CSS-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/yugioh_sky.css">
    <!--Scripts-->
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript"
            src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script type="text/javascript"
            src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
    <script type="text/javascript" src='js/filter_custom.js'></script>
    <script type="text/javascript" src="js/yugioh_sky.js"></script>
</head>
<body>
<div class="container">
    <h1 class="title">Yu-Gi-Oh_Sky.js</h1>
    <div class="sidebar col-md-3 col-xs-12">
        <div>
            <h4>Cartes (<span id="cards_number">0</span>)</h4>
        </div>
        <div>
            <label class="sr-only" for="searchbox">Rechercher une carte</label>
            <input class="form-control" id="searchbox" placeholder="Rechercher une carte &hellip;">
            <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <br>
        <div class="well">
            <fieldset id="deck_criteria">
                <legend class="well_legend">Decks</legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Deck Héros">
                        <span>Deck Héros</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Deck Cyber Dragon">
                        <span>Deck Cyber Dragon</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Jaden">
                        <span>Jaden</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Zane">
                        <span>Zane</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Aster">
                        <span>Aster</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span>Pas de deck attribué</span>
                    </label>
                </div>
                <input type="hidden" id="input_default" value="1-99">
            </fieldset>
        </div>
        <div class="well">
            <fieldset id="card_type_criteria">
                <legend class="well_legend">Types de cartes</legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="monster">
                        <span>Monstres</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="spell">
                        <span>Magies</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="trap">
                        <span>Pièges</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="token">
                        <span>Autres (Jeton)</span>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset id="type_criteria">
                <legend class="well_legend">Types de monstres</legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Aqua">
                        <span>Aqua</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Beast">
                        <span>Bête</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Winged Beast">
                        <span>Bête Ailée</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Divine-Beast">
                        <span>Bête-Divine</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Beast-Warrior">
                        <span>Bête-Guerrier</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Cyberse">
                        <span>Cyberse</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Fiend">
                        <span>Démon</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Creator God">
                        <span>Dieu Créateur</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Dinosaur">
                        <span>Dinosaure</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Dragon">
                        <span>Dragon</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Fairy">
                        <span>Elfe</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Warrior">
                        <span>Guerrier</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Insect">
                        <span>Insecte</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Machine">
                        <span>Machine</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Spellcaster">
                        <span>Magicien</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Plant">
                        <span>Plante</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Fish">
                        <span>Poisson</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Psychic">
                        <span>Psychique</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Pyro">
                        <span>Pyro</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Reptile">
                        <span>Reptile</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Rock">
                        <span>Rocher</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Sea Serpent">
                        <span>Serpent de Mer</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Thunder">
                        <span>Tonnerre</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Wyrm">
                        <span>Wyrm</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Zombie">
                        <span>Zombie</span>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <div>
                <label class="well_legend" for="l-sort-by">Trier par:</label>
                <select name="Sort_By" id="l-sort-by" class="corners">
                    <option value="name_asc">Nom A&rarr;Z</option>
                    <option value="name_desc">Nom Z&rarr;A</option>
                    <option value="card_type">Type de carte</option>
                </select>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div id="pagination"></div>
    </div>
    <div class="pagination">
        <label for="per_page" class="label_card_pages semibold">Cartes par page:</label>
        <span id="per_page"></span>
    </div>
    <div class="col-md-9">
        <div class="content" id="cards_table"></div>
    </div>
</div>
<script id="card_template" type="text/html">
    <!--suppress HtmlUnknownTarget -->
    <img class="col-md-3 col-xs-6 yugioh_card" src="<%= img_link %>" alt="<%= name_fr %>" title="<%= name_fr %>"
         onerror="imgError(this);" onclick="window.open(this.src)">
</script>
<script id="pagination_template" type="text/html">
    <span class="page-links-container">
  <strong class="semibold">Pages:</strong>
  <% if(currentPage > 1) { %>
  <a href="#" data-page="first"><<</a>
  <% } %>
  <% for(var i = 0, l = pages.length; i < l; i++ ){ %>
  <a href="#" data-page="<%= pages[i] %>"
     class="<%= pages[i] == currentPage ? 'page-links-active' : 'page-links-inactive' %>"><%= pages[i] %></a>
  <% } %>
  <% if( currentPage < totalPages ) { %>
  <a href="#" data-page="last"><span>>></span></a>
    <% } %>
    </span>
</script>
</body>
</html>